USE [master]
GO
/****** Object:  Database [dbEmpresaX]    Script Date: 07/12/2016 21:21:26 ******/
CREATE DATABASE [dbEmpresaX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbEmpresaX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\dbEmpresaX.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbEmpresaX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\dbEmpresaX_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbEmpresaX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbEmpresaX]
GO
/****** Object:  Table [dbo].[tbUsuario]    Script Date: 07/12/2016 21:21:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbUsuario](
	[cod_usu] [int] NOT NULL,
	[nome_usu] [varchar](50) NULL,
	[login_usu] [varchar](20) NULL,
	[senha_usu] [varchar](20) NULL,
	[email_usu] [varchar](50) NULL,
	[cpf_usu] [varchar](50) NULL,
	[status_usu] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_usu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
